.required {
	color: #F00;
}

.clickable {
	cursor: pointer;
}

.category-type-movement {
	background-color: #80bdff;
}

.category-type-type {
	background-color: #957bbe;
}

.category-type-scheme {
	background-color: #563d7c;
}