<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
</head>
<body>

	<nav th:fragment="header-fragment (menu)" class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" th:href="@{/}" th:text="#{application.name}">[application.name]</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item" th:classappend="${#strings.equals(menu,'dashboard')} ? active">
					<a class="nav-link" th:href="@{/dashboard}" th:text="#{dashboard.label}">Dashboard</a>
				</li>
				<li class="nav-item dropdown" th:classappend="${#strings.equals(menu,'wod')} ? active">
					<a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
						href="#" th:text="#{wod.label.plural}">WODs</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" th:href="@{/wod/list}" th:text="#{wod.list.label}">List all WODs</a>
						<a class="dropdown-item" th:href="@{/wod/create}" th:text="#{wod.add.label}">Add WOD</a>
					</div>
				</li>
				<li class="nav-item dropdown" th:classappend="${#strings.equals(menu,'category')} ? active">
					<a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
						href="#" th:text="#{category.label.plural}">Categories</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" th:href="@{/category/list}" th:text="#{category.list.label}">List all categories</a>
						<a class="dropdown-item" th:href="@{/category/create}" th:text="#{category.add.label}">Add category</a>
					</div>
				</li>
			</ul>
			<a th:href="@{/admin/server-info}"><i class="fas fa-info-circle fa-lg text-muted"></i></a>
		</div>
	</nav>

</body>
</html>