<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout :: layout-fragment(
							~{::title},
							~{::content},
							null,
							null,
							'wod'
							)}">
<head>
	<title th:text="#{application.title-pattern(#{application.name}, #{wod.label.plural}+' - '+#{wod.edit.label})}"></title>
</head>
<body>

	<div th:fragment="content">

		<div class="container-fluid">

			<h1 style="padding-top: 10px;">
				<span th:text="#{wod.edit.label}">Edit WOD</span>:
				<span th:text="${wod.name}">[name]</span>
			</h1>

			<div th:replace="~{fragments/messages :: messages-fragment(${messages})}"></div>

			<form style="padding-top: 10px;" th:object="${wod}" th:action="@{/wod/update}" action="#" method="post">
				<input type="hidden" th:field="*{id}"/>

				<div class="form-group row">
					<label class="col-sm-2 col-form-label text-right">
						<span class="required">*</span> <span th:text="#{wod.name.label}">Name</span>
					</label>
					<div class="col-sm-10">
						<input type="text" th:field="*{name}" class="form-control" th:classappend="${#fields.hasErrors('name')} ? is-invalid">
						<div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:each="err : ${#fields.errors('name')}" th:text="${err}">validation error</div>
					</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-2 col-form-label text-right">
						<span class="required">*</span> <span th:text="#{wod.description.label}">Description</span>
					</label>
					<div class="col-sm-10">
						<textarea class="form-control summernote" th:field="*{description}" rows="5" th:classappend="${#fields.hasErrors('description')} ? is-invalid"></textarea>
						<div class="invalid-feedback" th:if="${#fields.hasErrors('description')}" th:each="err : ${#fields.errors('description')}" th:text="${err}">validation error</div>
					</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-2 col-form-label text-right">
						<span th:text="#{wod.type.label}">Type</span>
					</label>
					<div class="col-sm-10">
						<select th:field="*{type}" class="form-control" th:classappend="${#fields.hasErrors('type')} ? is-invalid">
							<option value=""></option>
							<option th:each="ty : ${allTypes}" th:value="${{ty}}" th:text="${ty.name}"></option>
						</select>
						<div class="invalid-feedback" th:if="${#fields.hasErrors('type')}" th:each="err : ${#fields.errors('type')}" th:text="${err}">validation error</div>
					</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-2 col-form-label text-right">
						<span th:text="#{wod.scheme.label}">Scheme</span>
					</label>
					<div class="col-sm-10">
						<select th:field="*{scheme}" class="form-control" th:classappend="${#fields.hasErrors('scheme')} ? is-invalid">
							<option value=""></option>
							<option th:each="sc : ${allSchemes}" th:value="${{sc}}" th:text="${sc.name}"></option>
						</select>
						<div class="invalid-feedback" th:if="${#fields.hasErrors('scheme')}" th:each="err : ${#fields.errors('scheme')}" th:text="${err}">validation error</div>
					</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-2 col-form-label text-right">
						<span th:text="#{wod.event.label}">Event</span>
					</label>
					<div class="col-sm-10">
						<select th:field="*{event}" class="form-control" th:classappend="${#fields.hasErrors('event')} ? is-invalid">
							<option value=""></option>
							<option th:each="ev : ${allEvents}" th:value="${{ev}}" th:text="${ev.name}"></option>
						</select>
						<div class="invalid-feedback" th:if="${#fields.hasErrors('event')}" th:each="err : ${#fields.errors('event')}" th:text="${err}">validation error</div>
					</div>
				</div>

				<div class="form-group row">
					<div class="offset-sm-2 col-sm-10">
						<span class="required">*</span> <span th:text="#{default.form.required}">required</span>
					</div>
				</div>

				<div class="form-group row">
					<div class="offset-sm-2 col-sm-10">
						<input type="submit" class="btn btn-primary" th:value="#{default.button.save.label}" value="Save">
						<a th:href="@{/wod/list}" class="btn btn-outline-secondary" th:text="#{default.button.cancel.label}">Cancel</a>
					</div>
				</div>

			</form>

		</div>

	</div>

</body>
</html>