<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout :: layout-fragment(
							~{::title},
							~{::content},
							null,
							null,
							'wod'
							)}">
<head>
	<title th:text="#{application.title-pattern(#{application.name}, #{wod.label.plural}+' - '+#{wod.show.label})}"></title>
</head>
<body>

	<div th:fragment="content">

		<div class="container-fluid">

			<h1 style="padding-top: 10px;">
				<span th:text="#{wod.show.label}">Show WOD</span>:
				<span th:text="${wod.name}">[name]</span>
				<span class="float-right">
					<a th:href="@{/wod/edit/{id}(id=${wod.id})}" class="btn btn-outline-secondary" th:text="#{default.button.edit.label}">Edit</a>
					<a href="" class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteModal" th:attr="data-id=${wod.id}" th:text="#{default.button.delete.label}">Delete</a>
				</span>
			</h1>

			<div th:replace="~{fragments/messages :: messages-fragment(${messages})}"></div>

			<form style="padding-top: 10px;" action="#" method="post">

				<div class="form-group row">
					<label class="col-sm-2 text-right" th:text="#{wod.name.label}">Name</label>
					<div class="col-sm-10" th:text="${wod.name}">[name]</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-2 text-right" th:text="#{wod.description.label}">Description</label>
					<div class="col-sm-10" th:utext="${wod.description}">[description]</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-2 text-right" th:text="#{wod.type.label}">Type</label>
					<div class="col-sm-10" th:if="${wod.type != null}" th:text="${wod.type.name}">[type.name]</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-2 text-right" th:text="#{wod.scheme.label}">Scheme</label>
					<div class="col-sm-10" th:if="${wod.scheme != null}" th:text="${wod.scheme.name}">[scheme.name]</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-2 text-right" th:text="#{wod.event.label}">Event</label>
					<div class="col-sm-10" th:if="${wod.event != null}" th:text="${wod.event.name}">[event.name]</div>
				</div>

			</form>

			<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="deleteModalLabel" th:text="#{wod.deletePopup.title}">Delete WOD</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<span th:text="#{wod.deletePopup.question}">Do you really want to delete this WOD?</span>
						</div>
						<div class="modal-footer">
							<a href="" th:attr="data-href-template=@{/wod/delete/{id}}" class="btn btn-danger" th:text="#{default.button.delete.label}">Delete</a>
							<button type="button" class="btn btn-outline-secondary" data-dismiss="modal" th:text="#{default.button.cancel.label}">Cancel</button>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>

</body>
</html>